body{
    background: #252B42;
}
.logo{
    color: white !important;
}
.logo:hover{
    color: #23A6F0 !important;
}
.nav-link{
    color: white !important;
}
.nav-link:hover{
    color: #23A6F0 !important;
}
#navbarTogglerDemo03{
    padding-left: 100px;
}
.btn1{
    border: none;
    color: white;
    border-radius: 5px;
    margin-left: 20px;
}
.btn1:hover{
    background: #23A6F0;
    border-color: #23A6F0;
}
.btn1:focus{
    background: #23A6F0 !important;
    border-color: #23A6F0 !important;
}
.welcome{
    margin-top: 152px;
    color: #23A6F0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}
h1{
    color: white;
    margin-top: 30px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
}
h1:hover{
    color: #23A6F0;
}
.p-Home{
    color: white;
    margin-top: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
}
.btn2{
    box-sizing: border-box;
    align-items: center;
    padding: 15px 40px;
    gap: 10px;
    height: 52px;
    border: 1px solid #23A6F0;
    border-radius: 5px;
    margin-top: 30px;
    background-color: #252B42;
    color: #23A6F0;
}
.btn2:hover{
    background-color: #23A6F0;
    color: white;
}.black{
    background-color: black;
    margin-top: 80px;
}
.section-p{
    color: #23A6F0;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin-top: 112px;
}
h2{
    color: white;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    margin-top: 10px;
}
h2:hover{
    color: #23A6F0;
}
.section-p2{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: white;
    margin-top: 20px;
}
.card1{
    margin-top: 80px;
    background-color: white;
    width: 230px;
    height: 292px;
    padding: 35px 40px;
    gap: 20px;
}
.card2{
    background-color: white;
    width: 230px;
    height: 292px;
    padding: 35px 40px;
    gap: 20px;
    margin-top: 118px;
}
.card2:hover{
    background-color:#23A6F0;
}
.card1:hover{
    background-color: #23A6F0;
}
.red{
    width: 70px;
    height: 76px;
    background: #E74040;
    border-radius: 10px;
    padding: 22px 19px;
    gap: 10px;
}
.card-p{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 20px;
}
.card-p2{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 20px;
}
.banner-color{
    background-color: #23A6F0;
    height: 200px;
    margin-top: 80px;
}
.banner-text{
    font-weight: 600;
    font-size: 50px;
    line-height: 45px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.banner-sm-text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    opacity: 0.8;
}
.banner-row{
    padding-top: 70px;
    padding-left: 130px;
}
.courses{
    margin-top: 150px;
}
.red-line{
    width: 94px;
    height: 7px;
    background: #E74040;
}
.course-section{
    margin-top: 120px;
    padding-left: 100px;
}
.course-header{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 35px;
}
.course-p{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 35px;
}
.link{
    margin-top: 35px;
}
H4{
    font-style: normal;
    font-weight: 700;
    font-size: 120px;
    line-height: 143px;
    color: white;
    margin-top: 130px;
}
h4:hover{
    color: #23A6F0;
}
.about-h{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: white;
    margin-top: 160px;
}
.about-h:hover{
    color: #23A6F0;
}
.white{
    background-color: white;
}
.about-p{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: white;
    margin-top: 45px;
}
.about-pp{
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: #23A6F0;
    margin-top: 45px;
}
.about-button{
    width: 165px;
    height: 55px;
    background:#252B42; ;
    border: 1px solid #23A6F0;
    color: #23A6F0;
    margin-top: 30px;
    border-radius: 5px;
}
.about-button:hover{
    background-color: #23A6F0;
    color: white;

}
.displey-flex{
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 60px;
    box-sizing: border-box;
}
.teacher-p{
    font-style: normal;
    font-weight: 400;
    font-size: 13.5303px;
    line-height: 16px;
    color: #252B42;
}
.teacher{
    background-color: #23A6F0;
    margin-top: 100px;
}
.teacher-image{
    margin-left: 40px;
}
.teacher1{
    margin-right: 30px;
}
.teacher-h{
    font-style: normal;
    font-weight: 500;
    font-size: 17.3961px;
    line-height: 21px;
    color: #252B42;
}
.teacher-button{
    width: 116.94px;
    height: 33.83px;
    background-color: #23A6F0;
    border: 1px solid #252B42;
    border-radius: 5px;
}
.teacher-button:hover{
    background-color: #252B42;
    border:#23A6F0; 
    color: #23A6F0;
}
@media only screen and (max-width: 575px) {
    .justify-center{
        display: flex;
        justify-content: center;
    }
}
.practice{
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #23A6F0;
    margin-top: 260px;
}
.join{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.problems{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.input-div{
    max-width: 688px;
    height: 58px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
}
.text-align{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.email{
    border: none;
    padding-left: 30px;
    padding-bottom: 3px;
}
.submit{
    border: none;
    background-color: #23A6F0;
    color: white;
    min-height: 58px;
    margin-top: 0px;
    width: 117px;
    align-items: flex-end;
    border-radius: 7px;
}
@media only screen and (max-width: 770px) {
    .hide{
        display: none;
    }
}
@media only screen and (max-width: 445px) {
    .displey-flex{
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width: 445px) {
    .teacher-h{
       margin-top: 50px;
    }
}
@media only screen and (max-width: 445px) {
    .teacher-image{
       margin-left: 0px;
    }
}
footer{
    background-color: white;
    margin-top: 130px;
}
h6{
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 70px;
}
.footerp{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 20px;
}
.footer-image{
    margin-top: 15px;
}
.footer-p{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 10px;
}
@media only screen and (max-width: 576px) {
    h6{
      text-align: center;
    }
}
@media only screen and (max-width: 576px) {
    .footer-p, .footerp{
      text-align: center;
    }
}
@media only screen and (max-width: 576px) {
    .footer-image-style{
        display: flex;
        justify-content: center;
    }
}
.copyright{
    background: #FAFAFA;
    height: 76px;
}
.copyright p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    text-align: center;
    padding-top: 30px;
}
footer{
    margin-bottom: 0px;
}